@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(180, 251, 251);
}

#container {
  margin: 20px auto;
  width: 800px;
  background-color: white;
  padding: 20px;
  display: flex;
  gap: 20px;
}

header {
  width: 200px;
  margin-top: 35px;
}

header nav a {
  display: block;
  padding: 5px;
}

header nav a:hover {
  background-color: black;
  color: white;
}

footer {
  margin: 20px auto;
  width: 800px;
  background-color: white;
  padding: 20px;
}
